#home-text-container{
    display: flex;
    justify-content: flex-end;
}

#home-text{
    padding: 0;
}

#open4business{
    width: 80%;
    float: right;
}

@media (max-width: 600px) {
    #home-text {
        padding-right: 25px;
    }
}