#home-text-container {
    display: flex;
    justify-content: flex-end;
}

#home-text {
    padding: 0;
}

#open4business {
    font-family: 'Anton', sans-serif;
    width: 80%;
    float: right;
}

.order-now-button {
    background: #E0BC9C;
    color: white;
    min-width: 260px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    border: 7px solid white;
    box-shadow: 0px 0px 5px black;
}

.order-now-button:hover {
    background: white;
    color: #E0BC9C;
    border: 7px solid #E0BC9C;
}

@media (max-width: 600px) {
    #home-text {
        padding-right: 25px;
    }
}