{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Profile{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div id="profile-container" class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 id="profile-name" class="logo-font">{{ user }}<br class="d-sm-none"> - My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <p class="profile-headers">Default Delivery Information</p>
                <form class="default-delivery-form" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="update-btn" class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-md-8">
                <p class="profile-headers">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th class="order-headers">Order Number</th>
                                <th class="order-headers">Date</th>
                                <th class="order-headers">Items</th>
                                <th class="order-headers">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a id="order-number" href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:10 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}