{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Checkout Success{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout_success.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div id="checkout-success-container" class="container">
        <div class="row text-center">
            <div class="col">
                <hr>
                <h2 class="logo-font white-text text-shadow">Thank You! We apprecaite your business!</h2>
                <hr>
                <p class="white-text text-shadow">Your order information is below. A confirmation email will be sent to <strong id="email">{{ order.email }}</strong></p>
                <p class="white-text text-shadow"><strong id="free">Want a chance at a free meal?</strong></p>
                <p class="white-text text-shadow">Copy your order number</p>
                {% if request.user.is_authenticated %}
                    <p class="white-text text-shadow">Take a picture of your meal and upload it 
                        <a class="yellow-text" target="_blank" rel="noreferrer" href="{% url 'gallery' %}">here</a>
                    </p>
                {% else %}
                    <p class="white-text text-shadow">Create an 
                        <a class="yellow-text" target="_blank" rel="noreferrer" href="{% url 'account_signup' %}">account</a>
                        , take a picture of your meal and upload it 
                        <a class="yellow-text" target="_blank" rel="noreferrer" href="{% url 'gallery' %}">here</a>
                    </p>
                {% endif %}
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                    <div class="order-confirmation-wrapper p-2 border text-center">
                        <div class="row">
                            <div class="col">
                                <small class="white-text text-shadow">Order Info:</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 font-weight-bold text-md-left yellow-text text-shadow">Order Number</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right yellow-text text-shadow">
                                <p id="order-number" class="mb-0"><a class="mr-2">
                                    <i class="far fa-copy"></i> {{ order.order_number }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-md-left font-weight-bold">Order Date</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ order.date }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <small class="white-text text-shadow">Order Details:</small>
                            </div>
                        </div>

                        {% for item in order.lineitems.all %}

                            {% if not forloop.counter|divisibleby:2 %}
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <p class="small mb-0 font-weight-bold text-md-left yellow-text text-shadow">
                                            {{ item.product.name }}
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-8 text-md-right yellow-text text-shadow">
                                        <p class="small mb-0">{{ item.quantity }} @ ${{ item.product.price }} each </p>
                                    </div>
                                </div>

                            {% endif %}

                            {% if forloop.counter|divisibleby:2 %}

                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <p class="small mb-0 font-weight-bold text-md-left darkred-text">
                                            {{ item.product.name }}
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-8 text-md-right darkred-text">
                                        <p class="small mb-0">{{ item.quantity }} @ ${{ item.product.price }} each </p>
                                    </div>
                                </div>

                            {% endif %}

                        {% endfor %}

                        <hr>
                        
                        {% if from_profile %}

                            <div class="row">
                                <div class="col">
                                    <p id="enjoy" class="white-text text-shadow"><i class="far fa-smile-beam d-none d-sm-block"></i> We hope you enjoyed your meal <i class="far fa-smile-beam d-none d-sm-block"></i></p>
                                </div>
                            </div>
                            <hr>

                        {% else %}

                            <div class="row">
                                <div class="col">
                                    <small class="white-text text-shadow">Delivering To:</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold">Full Name:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0">{{ order.full_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left yellow-text text-shadow">
                                    <p class="mb-0 font-weight-bold">Address 1:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right yellow-text text-shadow">
                                    <p class="mb-0">{{ order.street_address1 }}</p>
                                </div>
                            </div>
                            {% if order.street_address2 %}
                                <div class="row">
                                    <div class="col-12 col-md-4 text-md-left">
                                        <p class="mb-0 font-weight-bold">Address 2:</p>
                                    </div>
                                    <div class="col-12 col-md-8 text-md-right">
                                        <p class="mb-0">{{ order.street_address2 }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if order.county %}
                                <div class="row">
                                    <div class="col-12 col-md-4 text-md-left">
                                        <p class="mb-0 font-weight-bold yellow-text text-shadow">County:</p>
                                    </div>
                                    <div class="col-12 col-md-8 text-md-right yellow-text text-shadow">
                                        <p class="mb-0">{{ order.county }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold">Town or City:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0">{{ order.town_or_city }}</p>
                                </div>
                            </div>
                            {% if order.postcode %}
                                <div class="row">
                                    <div class="col-12 col-md-4 text-md-left">
                                        <p class="mb-0 font-weight-bold yellow-text text-shadow">Postal Code:</p>
                                    </div>
                                    <div class="col-12 col-md-8 text-md-right yellow-text text-shadow">
                                        <p class="mb-0">{{ order.postcode }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold">Phone Number:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0">{{ order.phone_number }}</p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <small class="white-text text-shadow">Billing Info:</small>
                            </div>
                        </div>
                        <hr>
                        {% if from_profile %}
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold yellow-text text-shadow">Full Name:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0 yellow-text text-shadow">{{ order.full_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold">Phone Number:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0">{{ order.phone_number }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold yellow-text text-shadow">Order Total:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0 yellow-text text-shadow">{{ order.order_total }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold yellow-text text-shadow">Order Total:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0 yellow-text text-shadow">{{ order.order_total }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold">Delivery Charges:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0">{{ order.delivery_cost }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12 col-md-4 text-md-left">
                                    <p class="mb-0 font-weight-bold yellow-text text-shadow">Grand Total:</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0 yellow-text text-shadow">{{ order.grand_total }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="profile-btn-row" class="col-12 col-lg-7">
                    {% if from_profile %}
                        <a id="back-to-profile" href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                            <span class="icon">
                                <i id="profile-arrow" class="fas fa-angle-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Profile</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}