<!-- Button trigger modal -->
<a id="remove" class="text-shadow" type="button" data-toggle="modal" data-target="#remove-sm-Modal">
    Remove
</a>
<!-- Modal -->
<div class="modal fade" id="remove-sm-Modal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Remove Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove the image from the gallery?
            </div>
            <div class="modal-footer">
                <a id="close" class="btn btn-outline-black rounded-0" href="{% url 'view_basket' %}"><i
                        class="far fa-times-circle"></i> Close</a>
                <a class="remove-confirm-sm remove-item float-right update-remove-btn text-shadow"
                    id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">Remove</a>
            </div>
        </div>
    </div>
</div>