@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*-------------------------Colours */

/* Templates */

.cinnabar {
    color: #EC3630;
}

.skyblue {
    color: #5FC9F9;
}

.sand {
    color: #E0BC9C;
}

.babypink {
    color: #F8C7CC;
}

.olive {
    color: #9CB380;
}

.cinnabar-bg {
    background-color: #EC3630;
}

.skyblue-bg {
    background-color: #5FC9F9;
}

.sand-bg {
    background-color: #E0BC9C;
}

.babypink-bg {
    background-color: #F8C7CC;
}

.olive-bg {
    background-color: #9CB380;
}

/*-------------------------Base Template */

html {
    height: 100%;
}

body {
    background: url('/media/shakesonthebeach-stock.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Anton';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#umbrella{
    padding: 8px 8px 0 0;
}

#logo,
#logo h2{
    color: white;
    text-shadow: 2px 2px #000;
}

#logo:hover{
    color: #f8c7ec;
}

.logo-font {
    font-family: 'Lobster';
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

#user,
#basket{
    font-size: 2rem;
    padding-bottom: 10px;
    color: white;
    text-shadow: 2px 2px #000;
}

#user-a div i:hover,
#user-a div p:hover,
#basket-a div i:hover,
#basket-a div p:hover{
    color: #f8c7ec;
}

#user-text,
#basket-text{
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px #000;
}

#open4business{
    font-family: 'Anton';
}

.order-now-button {
    background: #E0BC9C;
    color: white;
    min-width: 260px;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.order-now-button:hover {
    background: white;
    color: #E0BC9C;
}

.btn-black {
    background: black;
    color: white;
}

.dropdown-menu{
    background: white;
    color: #E0BC9C;
}

.dropdown-item{
    color: #E0BC9C;
    letter-spacing: 1.5px;
}

.dropdown-item:hover{
    color: #9c846e;
}

.order-now-button:hover,
.order-now-button:active,
.order-now-button:focus,
.btn-black:hoorder
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 992px) {
    #logo-title {
        margin: auto;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}