body {
    background: url('/media/error-image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #5bbcd7;
    font-family: 'Anton', sans-serif;
}

#error-row {
    width: 80% !important;
    margin: auto;
}

#error-body {
    margin-top: 35vh;
    text-shadow: 0 0 5px black;
    background: #4b5a67ba;
}

h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

h4{
    font-size: 2rem;
}

#shoe-prints {
    animation-name: footprints;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes footprints {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.fa-shoe-prints {
    color: #5abdd7;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.fa-shoe-prints:hover {
    animation-name: fa-footprints;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fa-footprints {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1.5) rotate(360deg);
    }
}

@media (max-width: 400px) {
    .row {
        width: 100% !important;
    }
}

@media (max-height: 800px) {
    #error-body {
        margin-top: 30vh;
    }
}

@media (max-height: 700px) {
    #error-body {
        margin-top: 25vh;
    }
}