{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <style>
        body{
            background: url('/media/error-image.jpg') no-repeat center center fixed;
        }
    </style>
{% endblock %}

{% block content%}

<!-- 404 Error handler, for easy navigation if a user enters incorrect URL-->
<div class="container-fluid">
    <div class="row ">
        <div class="col-12 text-center">
            <h1 class="uppercase font-weight-bold"> 
                <span class="text-black"> 404</span>
            </h1>
            <h3 class="mt-5">
                Oops! Looks like you came to the wrong beach...
            </h3>
            <h4>
                Its another 404 metres up the beach
            </h4>
            <a href="{% url 'home' %}" class="btn btn-lg mt-5">
                <i class="fas fa-home mr-1"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}