{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block content %}
    <div id="allauth-container" class="container header-container text-right">
        <div class="overlay"></div>
        <div class="row">
            <div id="form" class="col-12 col-lg-4 offset-lg-9">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}