{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="icon" sizes="192x192" href="{% static 'favicon.png' %}" type="image/x-icon">

    <meta name="description" content="Coding Bootcamp Full Stack Django Project">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python, Django">
    <meta name="author" content="John Doyle">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
    <script src="https://kit.fontawesome.com/d6c4500621.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    
    <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Shakes on the Beach {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid fixed-top nav-border">
    <div class="row beach">
      <div id="logo-title" class="col-3 col-md-8 my-auto py-1 py-lg-0 text-left dropdown">
        <a href="#" id="logo-logotext" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
          <i id="umbrella" class="fas fa-umbrella-beach display-4 d-block float-lg-left"></i>
          <h2 id="logo-text" class="logo-font d-none d-md-block my-4"> Shakes on the Beach</h2>
        </a>
        <div class="dropdown">
          <div id="home-dropdown" class="dropdown-menu" aria-labelledby="logo-logotext">
            <a class="dropdown-item" href="{% url 'home' %}">Home</a>
            <a class="dropdown-item" href="{% url 'menu' %}">Menu</a>
            <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
            <a href="#" id="hours-btn" class="btn dropdown-item" data-toggle="modal" data-target="#openingHours">
              Opening Hours
            </a>
            <a class="dropdown-item" href="{% url 'gallery' %}">Customer Gallery</a>
          </div>
        </div>
      </div>
      <div id="user-controls" class="col-9 col-md-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right text-right my-0 float-right">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <div class="text-center">
                <i id="user" class="fas fa-user fa-lg text-shadow"></i>
                <p id="user-text" class="my-0 text-shadow">Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a id="basket-a"
              class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_basket' %}">
              <div class="text-center">
                <div><i id="basket" class="fas fa-shopping-bag fa-lg text-shadow"></i></div>
                <p id="basket-text" class="my-0 text-shadow">
                  {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                  {% else %}
                    $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <!-- Modal -->
  <div class="modal fade" id="openingHours" tabindex="-1" role="dialog" aria-labelledby="hours-btn" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div id="hours-content" class="modal-content">
        <div id="hours-body" class="modal-body">
          <table id="hours-table" class="text-center">
            <tr>
              <td>Monday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>08:00 - 18:00</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if messages %}
  <div class="message-container">
      {% for message in messages %}
          {% with message.level as level %}
              {% if level == 40 %}
                  {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                  {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                  {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                  {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
          {% endwith %}
      {% endfor %}
  </div>
{% endif %}

  {% block page_header %}
  {% endblock %}

  <div id="show-on-hover"><i id="eye" class="fas fa-eye"></i></div>
  <div><i id="eye-x" class="fas fa-eye-slash"></i></div>

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  <script>
    $('.toast').toast('show');
  </script>
  {% endblock %}

</body>

</html>