body {
    background: url('/media/beachfood-stock.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Anton';
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

#checkout-success-container{
    background-color: #ff7f5078;
}

.order-confirmation-wrapper{
    background-color: #ffffffa3;
}

.white-text{
    font-size: 1.8rem;
}

#order-number{
    overflow: auto;
}

#profile-btn-row{
    width: 100%;
    margin: auto;
    text-align: center;
}

#back-to-profile{
    color: white;
    text-shadow: 0 0 4px black;
    background-color: #ffc107;
    font-size: 1.5rem;
}

#back-to-profile:hover{
    color: #ffc107;
    background-color: white;
}

#profile-arrow{
    font-size: 1.6rem;
}

a:hover{
    color: #ffc107;
}

#free{
    animation-name: color-switcher;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes color-switcher {
    0% {color: white;}
    50% {color: #fcf32c}
    100% {color: white;}
  }

@media (max-width: 390px) {
    #email{
        font-size: 1.3rem;
    }
}