body {
    background: url('/media/beach-stock.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: darkred;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1.5px;
}

.image-basket {
    height: 150px;
    width: 200px;
}

#basket-box {
    color: white;
    background-color: #00bfff96;
}

.table-header {
    color: white;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: steelblue;
    text-shadow: 0px 0px 5px black;
}

tr {
    color: aliceblue;
    text-shadow: 0px 0px 5px black;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.update-remove-btn {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.update-link {
    color: aqua!important;
}

#remove{
    color: red;
    font-size: 1.5rem;
}

.remove-item{
    color: red!important;
}

.update-link,
#remove{
    margin: 0px 1rem;
}

.modal-content{
    margin-top: 50%;
    background-color: #dc3545;
    color: white;
    text-shadow: 0 0 5px black;
}

.modal-title{
    line-height: 2;
}

.modal-header button span{
    color: black;
    font-size: 2rem;
    font-family: auto;
}

#close{
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 5px black;
    letter-spacing: 1px;
}

.remove-confirm-sm,
.remove-confirm-md{
    color: #dc3544;
    background: aliceblue;
    padding: 5px 10px;
    text-shadow: none;
}

.remove-confirm-sm:hover,
.remove-confirm-md:hover{
    color: white!important;
    background-color: #dc3544;
    border: 3px solid white;
    padding: 2px 7px;
    text-decoration: unset;
}

.increment-qty,
.decrement-qty{
    background: aqua;
}

.increment-qty:hover,
.decrement-qty:hover{
    color: aqua;
    background: black;
}

#arrow,
#arrow-left{
    color: aqua;
    text-shadow: 2px 2px 6px black;
    font-size: 1.5rem;
}

#back-to-menu{
    color: aqua;
}

#checkout{
    color: aqua;
    background: white;
    text-shadow: 0px 0px 4px black;
}

#checkout:hover{
    color: white;
    background: aqua;
}

#delivery-delta{
    background-color: steelblue;
    text-align: center;
    color: #fcf32c!important;
}

#arrow-btn{
    background-color: steelblue;
}

#menu{
    color: aqua;
    text-shadow: 2px 2px black;
}

@media (max-width: 1304px) {
    .update-link,
    #remove{
        margin: 0 5%;
        font-size: 1.2rem;
    }
}

@media (max-width: 997px) {
    .update-link,
    #remove{
        margin: 0;
    }
}

@media (max-width: 767px) {
    .update-link,
    #remove{
        margin: 5%;
    }
}