body {
    background: url('/media/beach-stock.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: darkred;
    font-family: 'Anton';
}

.image-basket {
    height: 150px;
    width: 200px;
}

#basket-box {
    color: white;
    background-color: #00bfff96;
}

.table-header {
    color: white;
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: steelblue;
    text-shadow: 2px 2px black;
}

tr {
    color: aliceblue;
    text-shadow: 2px 2px black;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.update-remove-btn {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.update-link {
    color: aqua!important;
}

.remove-item{
    color: red!important;
}

.increment-qty,
.decrement-qty{
    background: aqua;
}

.increment-qty:hover,
.decrement-qty:hover{
    color: aqua;
    background: black;
}

#arrow{
    color: aqua;
    text-shadow: 2px 2px 6px black;
    font-size: 1.5rem;
}

#back-to-menu{
    color: aqua;
}

#checkout{
    color: aqua;
    background: white;
    text-shadow: 0px 0px 4px black;
}

#checkout:hover{
    color: white;
    background: aqua;
}

#delivery-delta{
    background-color: steelblue;
    text-align: center;
    color: #fcf32c!important;
}

#arrow-btn{
    background-color: steelblue;
}

#menu{
    color: aqua;
    text-shadow: 2px 2px black;
}